/* General dark theme styles */
body {
    background-color: #121212;
    color: #e0e0e0;
  }
  
  h1, h2, h3 {
    color: #f5f5f5;
  }
  
  .navbar {
    background-color: #212121;
  }
  
  .navbar-brand {
    color: #f1c40f; /* Gold color */
  }
  
  .navbar-nav .nav-link {
    color: #00bcd4; /* Cyan color */
  }
  
  .navbar-nav .nav-link:hover {
    color: #ff9800; /* Orange color */
  }
  
  .card {
    background-color: #333;
    border: 1px solid #444;
  }
  
  .card-title {
    color: #ffd700; /* Yellow color */
  }
  
  .card-text {
    color: #b0b0b0;
  }
  
  .card-body button {
    background-color: #ff5722; /* Vibrant Red */
  }
  
  .card-body button:hover {
    background-color: #e64a19;
  }
  
  footer {
    background-color: #212121;
    color: #b0b0b0;
  }
  
  footer a {
    color: #00bcd4; /* Cyan color */
  }
  
  footer a:hover {
    color: #ff9800; /* Orange color */
  }
  
  form .form-control {
    background-color: #424242;
    border: 1px solid #616161;
    color: #e0e0e0;
  }
  
  form .form-control:focus {
    border-color: #ff9800;
  }
  
  button {
    background-color: #ff5722;
    color: white;
    border: none;
  }
  
  button:hover {
    background-color: #e64a19;
  }
  
  /* Skills Section */
  .container.my-5.bg-dark {
    background-color: #333;  /* Ensure dark background */
  }
  
  .list-group-item {
    background-color: #424242 !important;  /* Dark background for each list item */
    border: none;
    color: #e0e0e0;  /* Light text color */
  }
  
  .list-group-item:hover {
    background-color: #616161;  /* Slightly lighter on hover */
  }
  
  h2.text-light {
    color: #ffd700;  /* Accent color for headings */
  }
  .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  .project-details {
    background-color: #222; /* Dark background for contrast */
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
  }
  .project-details h6 {
    font-size: 1.1em;
    margin-bottom: 5px;
  } 
  @media (max-width: 576px) {
    .project-card {
      margin-bottom: 20px;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  }
  
  @media (min-width: 768px) {
    .project-card {
      margin-bottom: 40px;
    }
  
    h2 {
      font-size: 2.5rem;
    }
  } 